.Institucional{
    display: flex;
    justify-content: center;
    align-items: center;
}

.InstitucionalAllCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.InstitucionalCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 280px;
    margin: 5px;
    border: outset medium #eeebeb;
    padding: 20px;
    transition: all 0.5s;
}

.InstitucionalCard:hover{
    padding: 40px;
    transition: all 1s;
}